:root {
  --white: #ffffff;
  --black: #000000;

  --color-primary: #cd3333;

  --border-radius: 4rem;

  --transition: all .2s ease-in-out;
  --grey: #818080;

  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
* {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d0d0d0;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

p,
label,
select,
option,
input {
  font-size: 1.8rem;
}

button {
  font-size: 2rem;
}

span {
  font-size: inherit;
}

.icon {
  font-size: 4rem;
}